.all {
    -fx-background-image: url("nenapi1.jpg");
}

.textF {
    -fx-background-color: lightBlue;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-padding: 10px;
    -fx-text-fill: black;
}

.comboBox {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}